body {
  margin: 0 auto;
  position: relative;
  color: rgb(0, 255, 0);
  /* font-family: */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/bg.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.logo {
  width: 95vw;
  margin: 5rem 0;
}

section {
  height: auto;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  max-width: 1000px;
  margin: 2rem;
  padding: 2rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 10vh;
}

.image-container img {
  width: 25vw;
}

@media (max-width: 768px) {
  .image-container {
    grid-template-columns:  1fr;
  }
  .image-container img {
    width: 90vw;
  }
}

.contact-links-container p {
  /* padding-inline: 1rem;
  font-size: 2rem; */
}  

/* Typography */

h2 {
  font-size: 2rem;
}

p {
  /* font-family: 'Work Sans', sans-serif;
  font-weight: 300; */
  font-size: 1.2rem;
}

a {
  color: rgb(255, 0, 102);
}

a:hover {
  color: rgb(255, 96, 131);
}

/* Utilities */

.padding-l-10px{
  padding-left: 10px;
}

